ALLOWED_ORIGIN=CHANGE_ME
INTERNAL_API_SECRET=CHANGE_ME
CHAT_SESSION_SECRET=CHANGE_ME

GROQ_API_KEY=CHANGE_ME
MAPBOX_TOKEN=CHANGE_ME

EMAIL_ADDRESS=CHANGE_ME
BASE_URL=CHANGE_ME
VITE_CHAT_SESSION_SECRET=CHANGE_ME
