NUXT_ALLOWED_ORIGIN=CHANGE_ME
NUXT_INTERNAL_API_SECRET=CHANGE_ME
NUXT_CHAT_SESSION_SECRET=CHANGE_ME
NUXT_GROQ_API_KEY=CHANGE_ME

NUXT_PUBLIC_BASE_URL=CHANGE_ME
NUXT_PUBLIC_MAPBOX_ACCESS_TOKEN=CHANGE_ME
NUXT_PUBLIC_EMAIL_ADDRESS=CHANGE_ME
NUXT_PUBLIC_CHAT_SESSION_SECRET=CHANGE_ME
